<div class="filter">
	<div class="row">
		<div class="col col-6">
			<select (change)="sort()" class="required form-control inputFormHeight listText" [disabled]="fieldcheck"
            id="dropdown" name="dropdown" [(ngModel)]="dropdown" required>
             <!-- <option value="1" selected disabled>Select</option>  -->
            <option *ngFor="let data of sortarr" [value]="data.id">{{data.name}}</option>
          </select>
      </div>
      <div class="col col-4">
        <form class="icon-search">
          <input class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="text"
            placeholder="Search by Name.." aria-label="Search">
        </form>
      </div>
      <!-- <div class="col col-2">
        <button type="button" class="btn sncf-btn" (click)="setSearch(searchText,dropdown)"><em
            class="fa fa-search"></em></button>
      </div> -->
    </div>
  </div>
  <div class="count">Total Result:{{count}}</div>
  <section id="accordion" class="section">
    <div class="container">
    <div class="columns is-multiline col-lg-10 offset-lg-1">
      <!-- loop over our users and give them each a card -->
      <div  class="column is-4" *ngFor="let user of users | orderBy:order:ascending|username:searchText | paginate: { itemsPerPage: 4, currentPage: p };let i=index">
        <div class="card" id="sncf-dashboard-accordian">
          <div class="card-header" [id]="'heading'+i">
        <div class="mb-0 card-header-in collapsed">
          
            <div class="row">
              <div class="col col-2">
            <img src={{user.avatar_url}} alt="Avatar" style="width:80px; height: 90px">

            </div>
            <div class="col col-8">
              <div class="form-group form-inline">
          <label  for="userid">{{user.login| titlecase}}
          </label>
        </div>
            <div class="form-group form-inline">
          <label for="userid">Profile URL : {{user.url}}
          </label>
        </div>
            </div>
          
            </div>
            <div class="row col-lg-12">
              <button class="btn btn-primary pull-right col-lg-2 offset-lg-10" type="button" data-toggle="collapse" [attr.data-target]="'#collapseExample'+i" aria-expanded="false" [attr.aria-controls]="'collapseExample'+i">
             <span class="hide-me">Details</span>
             <span class="show-me">Collapse</span>
             </button>
            </div>
          </div>       
    </div>
  <div class="collapse" [id]="'collapseExample'+i" [attr.aria-labelledby]="'collapseExample'+i" data-parent="#sncf-dashboard-accordian">
  <div class="card card-body" >
    <div class="row" *ngFor="let r of user.repos">
      <div class="col col-5">
       <div >
    {{r.name}}</div>
    </div>
    <div class="col col-7"> 
    {{r.languages}}
      </div>
    </div>
  </div>
</div>
    </div>
      </div>
      </div>
      </div>
    </section>
    <div class="row">
    <pagination-controls class="col col-6 offset-lg-6"(pageChange)="p = $event"></pagination-controls>
    </div>
    